@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

* {
	box-sizing: border-box;
}

body {
    background-color: #000;
    color: rgba(21,171,195,1);
    font-family: PressStart, "Bitstream Vera Sans Mono", monospace;
}

.h-section {
	color: $white;
	font-size: 1.75em;
	text-align: center;
	text-shadow: 2px 2px 0 #607B23;
}