/// source: https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_hide-text.scss
@mixin hide-text($height: null) {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;

  @if $height {
    @warn "The `hide-text` mixin has changed and no longer requires a height. The height argument will no longer be accepted in v5.0.0";
  }
}

// Micro Clearfix Hack
// --------------------
// Based on Nicholas Gallagher clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin micro-clearfix {
    &:before,
    &:after,
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after,
    &:after {
        clear: both;
    }
}

// MQ
// ------------
// Based on http://www.sitepoint.com/managing-responsive-breakpoints-sass/
$breakpoints: (
  'small'  : 640px,
  'medium' : 920px,
  'large'  : 1200px
);

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);
 
  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}