.tagline {
	@include hide-text;
	background: url(../img/tagline.png) no-repeat;
	height: 160px;
	margin: 2em auto .5em;
	text-align: center;
	width: 565px;
}

.ui-starfield {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.load-date {
    color: $white;
    display: inline-block;
    font-size: .75em;
    margin: 15px 0 0;
    text-transform: uppercase;
    vertical-align: top;
}

.load-title {
    color: $white;
    font-size: 1.125em;
    margin: 30px 0;
}

// Progress Bar
// http://codepen.io/achudars/pen/bgcsp
.progress {
	position: relative;
    text-align: center;
}

.progress-bar {
    display: inline-block;
    width: 304px;
    height: 44px;
    background: rgba(0,0,0,1);
    border: 2px solid rgba(255,255,255,1);
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
}

.main-bar {
    width: 100px;
    height: 40px;
    background: #92C81A;
    float: left;
    animation: stretch 8s infinite linear;
}

.row-bar {
    height: 10px;
    width: 200px;
    float: left;
    display: inherit;
    animation: squeeze 8s infinite linear;
}

.sq {
    height: 10px;
    width: 10px;
    float: left;
}

#sq-2 { background: #4A672F;}
#sq-3 { background: #1D2019;}
#sq-6 { background: #2C341C;}
#sq-1, #sq-5, #sq-9 {
    background: #74B215;
}
#sq-4, #sq-8, #sq-12 {
    background: #7BC415;
}

#sq-7, #sq-10, #sq-11 {
    background: #92C81A;
}

@keyframes stretch {
    0% {width: 100px;} //200
    25% {width: 140px;} //280
    50% {width: 180px;} //360
    75% {width: 140px;} //240
    100% {width: 100px;} //200
}
@keyframes squeeze {
    0% {width: 200px;} //400
    25% {width: 160px;} //320
    50% {width: 120px;} //140
    75% {width: 160px;} //360
    100% {width: 200px;} //400
}