.call-out {
    background: url(../img/border-pattern.gif) repeat-x bottom #fff;
    padding: 1em;

    @include respond-to(small) {
        padding: 2em 3em;
    }
    
    a {
        color: #00E;
        display: block;
        padding: 1em 0;

        &:hover {
            text-decoration: none;
        }
    }
    p {
        font-size: .875em;
        line-height: 1.875;
        
        @include respond-to(small) {
            font-size: 1.125em;
        }
    }
}

.press-content {
    @include respond-to(small) {
        margin: 0 auto;
        max-width: 75%;
    }

    p {
        @include respond-to(small) {
            font-size: 1.125em;
            line-height: 1.5;
        }
    }

   & + .press-content {
        margin-top: 4em;
   }
}

.press-list {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      background: #67B03E;
      box-shadow: 3px 3px 1px rgba(152, 236, 104, 1);
      color: $white;
      display: block;
      padding: 1.5em;
      text-decoration: none;

      &:hover {
        background: #98ec68;
        box-shadow: 3px 3px 1px #67B03E;
      }
    }
    b {
        color: $black;
        display: block;
        font-size: .5em;
        margin-bottom: .75em;
    }
    li {
        color: $black;
        margin: 0 0 1em;
        padding: 0;
    }
}